bottle==0.12.25
waitress==2.1.2
DrissionPage==4.1.0.0b14
func-timeout==4.3.5
prometheus-client==0.17.1
# required by undetected_chromedriver
requests==2.32.0
certifi==2024.07.04
websockets==11.0.3
# only required for linux and macos
xvfbwrapper==0.2.9; platform_system != "Windows"
# only required for windows
pefile==2023.2.7; platform_system == "Windows"
